<!-- POP UP --><!-- First section -->
<section class="popup" id="popup">
  <div class="popup__container">
    <!-- <div class="popup__left"> 
    </div> -->
    <div class="popup__right">
      <a href="#formation" class="popup__right--button">&times;</a>
      <h5 class="popup__heading">Les détails de la formation</h5>
      <nav class="popup__nav">
        <ul class="popup__list">
          <li class="popup__item">
            Des tonnes de techniques CSS modernes pour créer des designs et des
            effets époustouflants.
          </li>
          <li class="popup__item">
            Animations CSS avancées avec @keyframes, animation et transition.
          </li>
          <li class="popup__item" class="popup__item">
            Fonctionnement de CSS en coulisses: la cascade, la spécificité,
            l'heritage, etc.
          </li>
          <li class="popup__item">
            Architecture CSS: conception basée sur les composants, BEM, écriture
            de code réutilisable, etc.
          </li>
          <li class="popup__item">
            Mises en page Flexbox: créez un énorme projet du monde réel avec
            Flexbox.
          </li>
          <li class="popup__item">
            Mise en page de CSS Grid : créez un énorme projet du monde réel avec
            CSS Grid.
          </li>
          <li class="popup__item">
            Utilisation de Sass dans des projets réels : variables globales,
            architecture CSS, gestion des requêtes média, etc.
          </li>
          <li class="popup__item">
            Conception réactive avancée : requêtes multimédias, mobiles d'abord
            ou ordinateurs de bureau, unités em vs rem, etc.
          </li>
          <li class="popup__item">
            Images réactives en HTML et CSS pour des chargements de pages plus
            rapides.
          </li>
          <li class="popup__item">
            Images et vidéos SVG en HTML et CSS : créez un effet vidéo
            d'arrière-plan.
          </li>
          <li class="popup__item">
            L'écosystème NPM : workflows de développement et processus de
            construction.
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- Second SECTION -->
<section class="popup" id="popup2">
  <div class="popup__container">
    <!-- <div class="popup__left"> 
    </div> -->
    <div class="popup__right">
      <a href="#formation" class="popup__right--button">&times;</a>
      <h5 class="popup__heading">Les détails de la formation</h5>
      <nav class="popup__nav">
        <ul class="popup__list">
          <li class="popup__item">
            Les bases du CSS telles que les techniques basiques (sélecteurs, les
            combinateurs, les positions, etc.).
          </li>
          <li class="popup__item">
            Les techniques avancées telles que les animations et les transitions
            (@keyframes, transform, etc.).
          </li>
          <li class="popup__item" class="popup__item">
            Les techniques d'alignement des éléments à l'aide de CSS FLEXBOX et
            de CSS GRID.
          </li>
          <li class="popup__item">
            La construction de deux gros projets du monde réel.
          </li>
          <li class="popup__item">
            Conception réactive avancée : requêtes multimédias, mobiles d'abord
            ou ordinateurs de bureau, unités em vs rem, etc.
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- Third SECTION -->
<section class="popup" id="popup3">
  <div class="popup__container">
    <!-- <div class="popup__left"> 
    </div> -->
    <div class="popup__right">
      <a href="#formation" class="popup__right--button">&times;</a>
      <h5 class="popup__heading">Les détails de la formation</h5>
      <nav class="popup__nav">
        <ul class="popup__list">
          <li class="popup__item">Introduction aux concepts du CSS.</li>
          <li class="popup__item">Démonstration pratique des concepts CSS.</li>
          <li class="popup__item" class="popup__item">
            Introduction aux concepts généraux de JS.
          </li>
          <li class="popup__item">
            Les variables, les valeurs, les types de données ou string, les
            nombres, les objets et les fonctions en JS.
          </li>
          <li class="popup__item">
            Les structures conditionnelles avec Javascript.
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- Third SECTION -->
<section class="popup" id="popup4">
  <div class="popup__container">
    <!-- <div class="popup__left"> 
    </div> -->
    <div class="popup__right">
      <a href="#formation" class="popup__right--button">&times;</a>
      <h5 class="popup__heading">Les détails de la formation</h5>
      <nav class="popup__nav">
        <ul class="popup__list">
          <li class="popup__item">
            Comprendre la différence entre Git et GitHub et comment ils
            fonctionnent ensemble.
          </li>
          <li class="popup__item">
            Maîtriser les bases de l’outil Git (Clone, Checkout, Add, Commit,
            Push, Branch, Merge, ...)..
          </li>
          <li class="popup__item" class="popup__item">
            Savoir utiliser la puissance des branches.
          </li>
          <li class="popup__item">
            Travailler en petites et grandes équipes avec Git.
          </li>
          <li class="popup__item">Comprendre la philosophie de Git.</li>
          <li class="popup__item">
            Travailler avec une plateforme distante comme GitHub.
          </li>
          <li class="popup__item">
            Résoudre les conflits de commit comme un pro.
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<style lang="scss">
  //POPUP
  .popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s;

    // 😋😍
    @supports (-webkit-backdrop-filter: blur(10px)) or
      (backdrop-filter: blur(10px)) {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.3);
    }

    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      background: white;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      margin-top: 1rem;
      display: table;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);

      transition: all 0.5s 0.25s;
    }

    &__right {
      display: table-cell;
      vertical-align: middle;
      padding: 1rem 3rem;
      width: 100%;
      float: left;

      //😍☺☺😋
      @media screen and (max-width: 58em) {
        display: block;
        max-height: 25rem;
      }

      &--button {
        &:link,
        &:visited {
          display: inline-block;
          color: blueviolet;
          font-size: 2rem;
          text-decoration: none;
          position: absolute;
          top: 1rem;
          right: 1rem;
          line-height: 1;
          transition: all 0.3s;
        }
        &:hover {
          color: violet;
        }
      }
    }

    // TARGET
    &:target {
      opacity: 1;
      visibility: visible;
    }
    &:target &__container {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    //HEADING
    &__heading {
      margin-left: 2rem;
      text-transform: uppercase;
      display: inline-block;
      background: linear-gradient(to right, blueviolet, red);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      cursor: pointer;
      transition: all 0.2s;

      //😍☺☺😋
      @media screen and (max-width: 58em) {
        font-size: 1rem;
      }

      &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0rem 1.5rem 4rem rgba(red, 0.4);
      }
    }
    //NAV
    &__nav {
      margin-top: 1rem;
    }

    &__list {
      font-size: 0.9rem;
      list-style: none;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      column-gap: 1rem;
      row-gap: 1rem;

      //😍☺☺😋
      @media screen and (max-width: 79.5em) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }
      @media screen and (max-width: 67em) {
        display: block;
        margin-bottom: 1rem;
        line-height: 1.5;
      }
      @media screen and (max-width: 58em) {
        font-size: 0.7rem;
      }
      @media screen and (max-width: 44.82em) {
        font-size: 0.5rem;
      }
    }

    &__item {
      color: black;
      &::before {
        content: "";
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.2rem;

        mask-image: url(../assets/img/chevron-thin-right.svg);
        mask-size: cover;
        -webkit-mask-image: url(../assets/img/chevron-thin-right.svg);
        -webkit-mask-size: cover;

        background-color: red;
      }
    }
  }
</style>
