---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-2xl);
			
		}
	}
</style>
<script>
	const title = document.querySelector('.title');
	let tableau = ["Hello!","Je m'appelle Souleymane.", "Je suis développeur Frontend et Backend."];

let word = 0;
let letter = 0;

const handleTitle = () => {
	const span = document.createElement("span");
	span.textContent = tableau[word][letter];

	title.appendChild(span);

	
	setTimeout(() => {
		span.remove();
	}, 2800);
};

const loop = () => {
	setTimeout(() => {
		//
		if (word >= tableau.length) {
			word = 0;
			letter = 0;
			loop();
		} else if (letter < tableau[word].length) {
			handleTitle();
			letter++;
			loop();
		} else {
			word++;
			letter = 0;
			setTimeout(() => {
				loop();
			}, 2800);
		}
	}, 60);
};
loop();


	

</script>
